
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gybdaByI21pHAYT5J3j5g6l4g2eEXsR5l4Oq/uhS66Gq7rP2v7d"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuJN1qfVHtOd6g50U4Y1pR2KLTOynqDN7fnfFz/Yxllh5Hll6rjMei6zpzU5R9Nmz"
        crossorigin="anonymous"></script>
</body>

</html>